# Ignorar variables de entorno
.env

# Ignorar entorno virtual
venv/

# Ignorar caches
omdb_cache.json
wiki_cache.json
__pycache__/
*.pyc

#Ignorar los reportes 
report_*.csv
report_*.html
metadata_*.*

# metadatos de empaquetado
*.egg-info/
*.egg