# Requirements needed for development
#   Run: pip install -r requirements.txt
#
# Build/Production requirements are defined in setup.py
#   Run (editable install): pip install -e .
#   Run (editable with optional dev extras): pip install -e .[dev]
#
# In this project, the [dev] extra is currently empty on purpose.
# You can add linting / testing tools there in the future if you want.

-e .[dev]